/* reset */

*{
	margin: 0;
	padding: 0;
}

.clear{
	display: table;
	content: '';
	clear: both;
}

/*
.right{
	float: right;
}

.left{
	float: left;
}

.center{
	display: block;
	width: 430px;
	margin: 0 auto;
}
*/

/* home */

body{
	background-color: #F4EAE4;
	font-family: 'Space Mono', monospace;
}

section{
	max-width: 960px;
	margin: 60px auto;
}

p{
	line-height: 1.25em;
}

/* header */

header{
	background-color: #063a5e;
	color: #F4EAE4;
}

.header-container{
	height: 100px;
	padding: 0 38px;
	max-width: 960px;
	margin: 0 auto;
}

header h2{
	font-size: 2em;
	font-weight: 100;
	text-transform: uppercase;
	float: left;
	position: relative;
        top: 50%;
        transform: translateY(-50%);

}

.header-info {
	float: right;
	position: relative;
        top: 50%;
        transform: translateY(-50%);
}

.header-info p{
	padding: 2px 0;
}

.header-info a{
	color: #f4eae4;
	cursor: pointer;
	text-decoration: none;
}

.header-info a:hover{
	color: #a7e0d6;
}

header::after{
	content:'';
	display: table;
	clear: both;
}

/* teaching */

.teaching{
	color: #063a5e;
	max-width: 960px;
	min-height: 130px;
	list-style-type: circle;
}

.teaching-info-container{
	display: flex;
	justify-content: space-around;
}

.teaching-info {
	width: 430px;
	margin: 20px 0;
}
.teaching-info h4{
	text-align: center;
}

.teaching h3{
	padding-bottom: 15px;
	font-size: 1.5em;
}

.teaching h4{
	padding: 15px 0;
	font-size: 1.125em;
}

.teaching h5{
	padding: 15px 0;
	font-size: 1.125em;
}

.teaching p{
	padding: 3px 0;
}

.teaching a{
	color: #063a5e;
}

.teaching a:hover{
	text-decoration: none;
	color: #ef6270;
}

.line{
	width: 100%;
	height: 1px;
	background-color: #063a5e;
	margin: 40px 0;
}

.teaching .classes-2018{
	max-width: 960px;
	min-height: 220px;
	margin: 0 auto;
}

.teaching .classes-2018 h4{
	text-align: center;
}

.teaching .classes-2018 h5{
	text-align: left;
}

.teaching .gan{
	background-color: rgba(167,224,214,.4);
	text-align: center;
	margin: 20px;
	width: 430px;
	padding: 30px 0;
}

.teaching .classes-2018 a{
	text-decoration: none;
	font-size: 1.2em;
}

.teaching .classes-2018 a:hover{
	cursor: pointer;
	color: #063a5e; 
}

.teaching .center .gan:hover{
	border-left: 5px solid rgba(6,58,94,.5);
	border-bottom: 5px solid rgba(6,58,94,.5);
}

.teaching .left .gan:hover{
	border-left: 5px solid rgba(6,58,94,.5);
	border-bottom: 5px solid rgba(6,58,94,.5);
}

.teaching .right .gan:hover{
	border-right: 5px solid rgba(6,58,94,.5);
	border-bottom: 5px solid rgba(6,58,94,.5);
}

.teaching .text-right{
	text-align: right;
}

.text-right h4{
	text-align: right;
}

.teaching .combinatoria{
	margin: 40px 0;
	text-align: center;
}

/* footer */

footer{
	color: #f4eae4;
	background-color: #063a5e;
}

footer .footer-container{
	margin: 0 auto;
	max-width: 960px;
	padding: 50px 0;
}

footer .footer-title{
        margin-bottom: 10px;
}

footer h4{
	font-size: 1em;
	display: inline;
}

footer p{
	font-size: 0.80em;
}

footer i{
	font-size: 1.125em;
	opacity: .8;
	float: left;
	margin-top: 3px;
	margin-right: 15px;
}

footer .update{
	font-size: 0.85em;
	text-align: right;
}

/* responsivo */

@media only screen and (max-width: 1000px){

	.teaching{
		max-width: 85%;
	}

	.teaching-info-container{
		flex-direction: column;
	}
	
	.right, .left{
        	margin: 0 auto;

	}

	footer{
		width: 80%;
	}
}


@media only screen and (max-width: 600px){
	.teaching-info{
		max-width: 450px;
	}
	
	.teaching .gan{
		width: 300px;
		margin: 20px auto;
	}
}

@media only screen and (max-width: 450px){
	.teaching .classes-2018{
		max-width: 80%;
		margin: 0 auto;
	}

	.teaching-info{
		max-width: 350px;
	}
	.teaching .gan{
		width: 260px;
		margin: 20px auto;
	}

}

@media only screen and (max-width: 400px){
	.teaching-info{
		max-width: 300px;
	}
	.teaching .gan{
		width: 240px;
		margin: 15px auto;
	}

}

@media only screen and (max-width: 350px){
	.teaching .classes-2018{
		max-width: 80%;
	}
	.teaching-info{
		max-width: 280px;
	}
	.teaching .gan{
		width: 220px;
		margin: 15px auto;
	}
	
}
